.menu-item {
    text-decoration: none;
    color: white;
}

.menu-item-active {
    text-decoration: none;
    color: blue;
}
.menu-drobdownup{
    display: block;
    direction: column;
    
   
    overflow: hidden;
}