@import 'node_modules/react-modal-video/scss/modal-video.scss';



.playHome{
    width: 418px;
    height: 356px;
    margin: 50px auto;
}
/*.button {
    background-color: transparent !important;
}*/